// COLORS
$primary-color: #1F1C2C;
$secondary-color: #242231;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: rgb(221, 247, 255);

$dark-grey: #000000;

$dark-blue-text: #000000; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
