html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fblogs.worldbank.org%2Fdevelopmenttalk%2Fnight-lights-and-pursuit-subnational-gdp-application-kenya-rwanda&psig=AOvVaw1m2dvw-ySBQ1PXBZDxwkLp&ust=1615624874909000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLCq8uetqu8CFQAAAAAdAAAAABAD");
}
